{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    FIRST PHASE
{% endblock %}

{% block content %}
<p align="justify">
	Thank you for participating in this experiment, that is part of a research project in which we try to
	understand how individuals make decisions. You are not expected to behave in any particular way.
	At this moment the experiment begins. Please keep quiet until the end, turn your cell
	phone off, and remember that the use of any material foreign to the experiment is not allowed
	(including pen, pencil or paper).
</p>	
<p align="justify">
	Your earnings will depend on your own decisions and those of the other participants. Additionally, you will receive 5€ for participating in the experiment until the end.
</p>	
<p align="justify">
	Please keep quiet during the experiment. If you need help, raise your hand and wait to be assisted. Please do not ask any question aloud.
</p>	
<p align="justify">
	The experiment consists of two phases. You  participate along with 11 other people with whom you interact according to the rules explained below. The experiment  lasts about an hour.
</p>
<p align="justify">
	Once completed the two phases, you will receive 5 € for participating, along with your earnings
corresponding to the two phases, once converted into euros. For convenience, the total earnings are rounded to the nearest 50 cents.
</p>
<p align="justify">
	You will access  the first phase after reading these instructions. When all participants have accessed, the rounds will begin. In the first phase, the 12 players, you included, will be randomly located in the nodes of the network shown below. <b>All you will remain in the same position during this phase</b>. Your position in the network will be denoted with the word “YOU”.
</p>
<p align="justify">
	<div class="col-xs-12">
		<img class="img-responsive center-block" style="max-height:400px" src="{% static 'network.png' %}"/>
	</div>
</p>
<p align="justify">
	In each round, two different players will be chosen as Source <b>(S)</b> and Destination <b>(D)</b> respectively. Their position in the network will be denoted with the letters <b>“S”</b> and <b>“D”</b>. The rest of the players will play the role of intermediaries. A good must be transported from <b>S</b> to <b>D</b> generating a benefit of 100 tokens for all involved (<b>S</b>, <b>D</b>, and all nodes in the path between them). Intermediaries (that is, all the players except <b>S</b> and <b>D</b>) simultaneously have to post the fraction of these 100 tokens they would like to receive, which must be between 0 and 100 tokens. You will have 20 seconds to post your price. If you do not post a price, the computer will assume that your price is 0: please do not run out your time and make your own decision. 
</p>
<p align="justify">
	The prices determine a total cost for every path between <b>S</b> and <b>D</b>. Once all the intermediaries have posted a price, the cheapest path from <b>S</b> to <b>D</b> will be selected. If the least cost path is cheaper or equal 	than 100 tokens, the good will be taken from <b>S</b> to <b>D</b>. Otherwise, that is, if all the paths from <b>S</b> to <b>D</b> cost more than 100 tokens, there will be no deal and no value will be generated.  Ties are broken randomly, that is, if there are more than one least cost path, one of them will be selected at random. 
</p>
<p align="justify">
	Your payoff in this round will be:
	<ul>
	<li>a)  If you are neither <b>S</b> nor <b>D</b>, and you are located in the selected cheapest path, you will receive your price as payoff.</li>
	<li>b)  <b>S</b> and <b>D</b> will receive, equally distributed, the rest of the 100 tokens. That is, if you are <b>S</b> or <b>D</b>, you will receive (100-(total cost of the cheapest path))/2 tokens as payoff.</li>
	<li>c) Otherwise, that is, if you are not in the selected path, and you are neither <b>S</b> nor <b>D</b>, you will not receive any payoff in that round.</li>
	</ul>
</p>
<p align="justify">

	At the end of the round, you will be informed about whether there has been a deal, about the selected path (if any), and about the prices and payoffs of all  players.
</p>
<p align="justify">

	Please, click NEXT to start.
</p>

{% next_button %}

{% endblock %}
