{% extends 'otree/WaitPage.html' %}
{% load staticfiles otree_tags %}

{% block title %}{{ title_text }}{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<img class="img-responsive" src="{% static 'ibsen-logo.png' %}"/>
	</div>
    {{ body_text }}
    <p>
        
    </p>
{% endblock %}
