{% extends "global/Instructions.html" %}



{% block instructions %}

    <p>
        In this study, you will be randomly and anonymously paired with another participant.
        Each of you simultaneously and privately chooses whether you want to cooperate or defect.
        Your payoffs will be determined by the choices of both as below:
    </p>
    <p><i>In each cell, the amount (in points) to the left is the payoff for you and to the right for the other participant.</i></p>

    <table class='table table-bordered text-center' style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>The Other Participant</th>
        </tr>
        <tr>
            <th>Cooperate</th>
            <th>Defect</th>
        </tr>
        <tr>
            <th rowspan=2><span class=rotate90>You</span></th>
            <th>Cooperate</th>
            <td>{{Constants.cooperate_amount}}, {{Constants.cooperate_amount}}</td>
            <td>0 point, {{Constants.defect_cooperate_amount}}</td>
        </tr>
        <tr>
            <th>Defect</th>
            <td>{{Constants.defect_cooperate_amount}}, 0 point</td>
            <td>{{Constants.defect_amount}}, {{Constants.defect_amount}}</td>
        </tr>
    </table>

{% endblock %}
