{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Make Requests
{% endblock %}

{% block styles %}

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="form-group required">
    	List of players that are not connected to you. Make a request to establish a connection
    	{% for player in players %}
    		<div class="checkbox">
    			<label>
    				<input type="checkbox" name="player" value="{{player.id}}"> Player {{player.id_in_group}}
    			</label>
    		</div>
    	{% endfor %}
        
    </div>
    {% next_button %}

    {% include 'neighbor_choice/Instructions.html' %}
    	

{% endblock %}