{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Soluciones a las preguntas de la Fase II.
{% endblock %}

{% block content %}


    <p>
        Tu respuesta <span  class="text-info">{{ player.questionsII10 }}</span> es {% if player.questionsII10_correct %}<span class="text-success">correcta</span>{% else %}<span class="text-danger">incorrecta</span>{% endif %}.
    </p>
    <p>
        Explicación:
    </p>
    <p>
        Supongamos que tu tipo es A y el tipo de tu compañero es B. Tu eliges X y tu compañero elige X. ¿Cuántos ECUs consigues al final de esta ronda?
        <br><strong>Consigues 3x5 = 15 ECUs y tu compañero consigue 3x4 = 12 ECUs.</strong></br>
    </p>

    {% next_button %}

    {% include 'APD/Instructions2.html' %}

{% endblock %}
