{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instrucciones.
{% endblock %}

{% block content %}
<p align="justify">
	<b>Fase I</b>
	{% include 'PGG/Instructions.html' %}
</p>
<p align="justify">
<b>Ejemplo:</b>
<br></br>
{% if group.treatment == 'group' %} 
En las siguientes figuras, 24 participantes han sido ordenados de acuerdo a los resultados obtenidos en la Fase I. El grupo sombreado en blanco en las figuras es el que obtuvo mayores ganancias, 163 puntos. Dentro del grupo blanco, el Participante 17 fue el que más ganancias obtuvo individualmente. Todos los miembros del grupo blanco obtienen por lo tanto el tipo A (ver la figura de la derecha). El segundo grupo es el formado por los participantes 22, 8,6 y 23. El Participante 22 es el que más ganancias obtuvo dentro de su grupo, y el Participante 23 el que menos. Como resultado, los participantes 22 y 8 han obtenido el tipo A, y los participantes 6 y 23 el tipo B.

<br></br>
<center> <img src={% static "PGG/group_example.png" %} height="100%" width="100%"/> </center>

{% else %}
En las siguientes figuras, 24 participantes han sido ordenados de acuerdo a los resultados obtenidos en la Fase I. El participante 17 obtuvo la mayor puntuación (ver figura de la izquierda), y por lo tanto obtiene el tipo A (ver figura de la derecha). El Participante 4 fue el que menor puntuación consiguió obteniendo como resultado el tipo D.


<br></br>
<center> <img src={% static "PGG/individual_example.png" %} height="100%" width="100%"/> </center>

{% endif %}
</p>
<p align="justify">
<br></br>
<p align="justify">
	<b>Fase II</b>
	{% include 'PGG/Instructions2.html' %}
</p>
<p align="justify">
<b>Ejemplos:</b>
<br></br>
Supongamos que tu tipo es A y el tipo de tu compañero es C. Tu eliges X y tu compañero también elige X. Tu obtienes 3x5 = 15 ECUs, tu compañero obtiene 3x3 = 9 ECUs.
</p>
<p align="justify">
Supongamos que tu tipo es B y el tipo de tu compañero es A. Tu eliges X y tu compañero elige Y. Tu obtienes 1x4 = 4 ECUs, tu compañero obtiene 4x5 = 20 ECUs.
</p>

<p align="justify">
<br></br>
En las siguientes páginas, se te realizarán algunas preguntas relacionadas con las intrucciones que acabas de leer. Por favor, pulsa "Siguiente" cuando estés listo.
</p>

    {% next_button %}

{% endblock %}
