{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Preguntas de la Fase II.
{% endblock %}

{% block content %}
<p>
Supongamos que tu tipo es C y el tipo de tu compañero es D. Tu eliges Y y tu compañero elige Y.
</p>
    {% formfield player.questionsII9 with label="¿Cuántos ECUs consigues al final de esta ronda?" %}


<p>
</p>

{% next_button %}

{% include 'APD/Instructions2.html' %}


{% endblock %}
