{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Preguntas de la Fase II.
{% endblock %}

{% block content %}
<p>
Supongamos que tu tipo es A y el tipo de tu compañero es B. Tu eliges X y tu compañero elige X.
</p>
    {% formfield player.questionsII10 with label="¿Cuántos ECUs consigues al final de esta ronda?" %}


<p>
</p>
{% next_button %}

{% include 'APD/Instructions2.html' %}

{% endblock %}
