{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Preguntas de la Fase I.
{% endblock %}

{% block content %}
<p>
Las siguientes preguntas están relacionadas son la Fase I:
</p>

    {% formfield player.questionsI1 with label="¿Qué cantidad de puntos recibes al principio de cada ronda?" %}


<p>
</p>
{% next_button %}

{% include 'PGG/Instructions.html' %}



{% endblock %}
