{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Preguntas de la Fase I.
{% endblock %}

{% block content %}
<p>
{% if group.treatment == 'group' %} 
Supongamos que tu grupo acaba en la quinta posición según las ganancias obtenidas, y que tu eres el segundo que más puntos ha ganado dentro de tu grupo.

{% else %}
Supongamos que según los puntos que has obtenido en la Fase I has acabado en la posición 15.

{% endif %}
</p>

    {% formfield player.questionsI6 with label="¿Cuál sera tu tipo para la Fase II? Por favor, introduce solo una letra." %}


<p>
</p>
{% next_button %}

{% include 'PGG/Instructions.html' %}



{% endblock %}
