{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Page title
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
	<input type="hidden" id="player_id" value="{{player.id}}"/>
	<input type="hidden" id="group_id" value="{{group.id}}"/>
	<input type="hidden" id="round_number" value="{{player.round_number}}"/>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>

	<p>
        This is a public goods game with
        {{ Constants.players_per_group }} players per group,
        an endowment of {{ Constants.endowment }},
        and an efficiency factor of {{ Constants.multiplier }}.
    </p>


    {% formfield player.contribution with label="How much will you contribute?" %}

    {% next_button %}

{% endblock %}

{% block scripts %}

	<script type="text/javascript">
		setInterval(get_messages, 1000)
		$('#chat-message-submit').click(function() {
        	send_message();
      	});

		messages_ids = []

		$("#chat-message-input").keydown(function(event) {
	        if (event.keyCode === 13) {
	          event.preventDefault();
	          send_message();
	        }
	    });

		function send_message() {

		  $.ajax('/send_message', {
		    cache: false,
		    type : 'GET',
		    data : {
		      player_id: $('#player_id').val(), 	
		      group_id: $('#group_id').val(),
		      round_number: $('#round_number').val(),	
		      message: $('#chat-message-input').val(),
		    },
		    success: function(results) {
		   	  console.log("HOSTIA")
		      $('#chat-message-input').val('')
		    },
		    error: function() {
		    
		    }
		  });
		}


		function get_messages() {

		  $.ajax('/get_messages', {
		    cache: false,
		    type : 'GET',
		    data : {
		      group_id: $('#group_id').val(),
		      round_number: $('#round_number').val()
		    },
		    success: function(results) {
		    	for (var i=0; i < results.length; i++){
		    		if (($.inArray(results[i].pk,messages_ids)) == -1){
		    			$('#chat-log').val($('#chat-log').val()+ '\n' + results[i].fields.created_at + '-' + results[i].fields.player + '-' + results[i].fields.data)
		    			messages_ids.push(results[i].pk)
		    			$('#chat-log').scrollTop($('#chat-log')[0].scrollHeight);
		    		}
		    	}
		      
		    },
		    error: function() {
		    
		    }
		  });
		}



	</script>

{% endblock %}
