{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Page title
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

<div class="col-xs-6">
	<p>
	Hola esto son las instrucciones Lorem Rajoy Ipsum y cuanto peor para todos mejor y en ocasiones es mejor estar en movimiento cuanto mejor peor para todos y cuanto peor para todos mejor una cosa es ser solidario y otra es serlo a cambio de nada y cuanto peor para todos mejor como ustedes comprenderán los vecinos el alcalde. Y es el alcalde el que quiere que sean muy españoles grave afrenta a la estabilidad de una cosa es ser solidario y otra es serlo a cambio de nada. Es el vecino el que elije al alcalde ¿Y la europea? y cuanto peor para todos mejor mucho españoles fin de la cita una cosa es ser solidario y otra es serlo a cambio de nada los españoles son muy españoles lo más importante que se puede hacer por vosotros es lo que vosotros podáis hacer por nosotros.
	</p>
</div>

<div class="col-xs-6">
	<h3> HOLA </h3>
</div>

    {% next_button %}

{% endblock %}
