{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %} Resultados de la Fase II. {% endblock %}

{% block content %}

<p>
    Tus ganancias totales en esta fase del experimento son <b>{{player.participant.vars.cumulative_payoff}} ECUs</b>.

<br></br>
	La tasa de pago es {{rate}} ECUs = 1 EUR.
	Por lo tanto, has ganado {{player.participant.vars.earnings_string}} Euros más el complemento por participación de {{Constants.Show_up_fee}} Euros = <b> {{player.participant.vars.Total_earnings_string}} Euros</b>.
<br></br>


</p>


{% endblock %}