{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Fase II. Etapa {{stage}}. 
{% endblock %}

{% block styles %}

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }
    </style>

{% endblock %}

{% block content %}
   <p ALIGN=justify>{% if round_within_stage > 1 %} Tus ganancias en la pasada ronda fueron {{player.participant.vars.prev_payoff}} ECUs y las ganancias de tu compañero fueron {{player.participant.vars.partner_prev_payoff}} ECUs. Tus ganancias acumuladas en esta etapa han sido {{player.participant.vars.stage_payoff}} ECUs. 
    
    {% endif %}
    </p>

    <p ALIGN=justify>{% if subsession.round_number == Constants.num_rounds  %}
    Tus ganancias acumuladas en esta fase del experimento son <b>{{player.participant.vars.cumulative_payoff|floatformat:"0"}} ECUs</b>. 
    <br></br>
    El experimento ha finalizado. Pulsa "Siguiente" para ver tus resultados.
    {% endif %}

   

<!-- 
    <p ALIGN=justify>{% if PhaseII_repetitions == 1 %}
        The experiment is over. Click "Next" to see your final results.

    {% else %}You are going to do another repetition of the experiment and you will be assigned to a new group for Phase I. Both repetitions are going to be paid.

    {% endif %}
    </p>
 -->
    
    {% next_button %}

    <!-- <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2">The Other Participant</th>
            </tr>
            <tr>
                <th>A</th>
                <th>B</th>
            </tr>
            <tr class="highlight-row-on-hover">
                <th rowspan="2"><span class="rotate90">You</span></th>
                <td><button name="decision" value="A" class="btn btn-primary btn-large">I choose A</button></td>
                <td>{{Constants.A_amount}} <i>x</i> <b>P</b>, {{Constants.A_amount}} <i>x</i> <b>Q</b></td>
            <td> {{Constants.A_B_amount}} <i>x</i> <b>P</b>, {{Constants.B_A_amount}} <i>x</i> <b>Q</b></td>
            </tr>
            <tr class="highlight-row-on-hover">
                <td><button name="decision" value="B" class="btn btn-primary btn-large">I choose B</button></td>
                <td>{{Constants.B_A_amount}} <i>x</i> <b>P</b>, {{Constants.A_B_amount}} <i>x</i> <b>Q</b></td>
                <td>{{Constants.B_amount}} <i>x</i> <b>P</b>, {{Constants.B_amount}} <i>x</i> <b>Q</b></td>
            </tr>
        </table>
    </div>
 -->


{% endblock %}
