{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %} Resultados. {% endblock %}

{% block content %}

<p>
	Has conseguido {{player.cumulative_payoff|floatformat:"0"}} ECUs.
</p>
<p>
	La tasa de cambio es {{rate_integer}} ECUs = 1 EUR.
</p>

<p>
	Por lo tanto has ganado {{player.participant.vars.earnings_rounded|floatformat:"0"}} Euros más un complemento por participación de {{show_up}} Euros = <b> {{player.participant.vars.Total_earnings_rounded|floatformat:"0"}} Euros</b>.

<br></br>


</p>


{% endblock %}