{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    ¡Bienvenido al experimento!
{% endblock %}

{% block content %}
<p align="justify">
Vas a tener que tomar decisiones que afectarán tanto a tus ganancias como a las ganancias de los otros participantes.
Aunque tus ganancias están espresadas en ECUs (del inglés Experimental Currency Unit, Unidad de Moneda Experimental), estos ECUs serán transformados en dinero real al final del experimento de acuerdo a la siguiente tasa de cambio:
<center><b>{{rate_integer}} ECUs = 1 EUR</b></center>

<p align="justify">
<br></br>
Tus ganancias totales serán tus ECUs convertidos a dinero real y redondeados al entero más cercano, más un complemento de 5 euros por participar.
</p>
</p>
<p align="justify">

Durante el experimento está <b>terminantemente prohibido hablar con los otros participantes</b>. 
Si tienes alguna pregunta, por favor formúlasela a los asistentes. Si no estás de acuerdo con estas reglas, nos veremos obligados a excluirte del experimento.</p>
<p>
Este experimento tiene dos fases.
</p>

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

    {% next_button %}

{% endblock %}
