{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Bienvenido.
{% endblock %}

{% block content %}
<p align="justify">
<center> <img src={% static "Experiment/uc3m_blanco.jpg" %} height="30%" width="30%"/> <img src={% static "Experiment/logo_gisc.gif" %} height="15%" width="15%"/> </center>
</p>

<p align="center">
	<br></br>
	<br></br>
Bienvenido al experimento. Por favor, espera mientras llegan el resto de participantes.
	<br></br>
</p>

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->


{% endblock %}
