{% extends 'otree/WaitPage.html' %}
{% load i18n %}

{% load staticfiles otree_tags %}
{% block styles %}
	<style type="text/css">
		body {
			background-color: #fff;
		}
	</style>
{% endblock %}
{% block body_main %}
<div class="container" style='max-width:970px'>
        <div class="panel-heading">
            <h3 class="panel-title">
            {% block title %}
            	{{ title_text }}	
            {% endblock %}</h3>
        </div>
        <div class="panel-body">
            <div id="error-notice" class="alert alert-danger" style="display:none">
            {% blocktrans trimmed %}An error occurred. Please check the logs or ask the administrator for help.{% endblocktrans %}
                	An error occurred. Please check the logs or ask the administrator for help.
                
            </div>
            <div id="error-traceback" class="alert alert-danger" style="display:none"></div>
            {% block content %}
            <p>{{ body_text }}</p>
            {% endblock %}
            
        </div>
    {% if view.is_debug %}
        {% include 'otree/includes/debug_info.html' %}
    {% endif %}
</div>
{% endblock %}