{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Understanding Question {{ num_q }} of {{ total_q }}
{% endblock %}

{% block content %}

    {% if num_q == 1 %}
        <p>
            {% formfield player.training_question_1 with label='Suppose in one period, your prediction for the market price is 45.5, and the market price turns out to be 45.7, how many points do you earn in this period round (round it for the nearest integer)?' %}
        </p>
    {% endif %}
    {% if num_q == 2 %}
        <p>
            {% formfield player.training_question_2 with label="Suppose a financial advisor predicts that the asset price goes up in period 10, and goes down in period 20, and his pension fund acts according to his prediction. In which period does the fund buy more units of asset?" %}
		    
		</p>
    {% endif %}

    {% next_button %}

    {% include 'forecast/Instructions.html' %}

{% endblock %}
