{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Page title
{% endblock %}

{% block content %}

<div class="col-xs-12">
    <h4>Your decision for period {{round_num}} </h4>
    {% formfield player.pe with label="What is your prediction for the price in this period?" %}
    
</div>

<div id="container" class="col-xs-6">
</div>
<div class="col-xs-6 table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Period</th>
				<th>Your Prediction</th>
				<th>The Realized Price</th>
				<th>The points you earned in the round</th>
				<th>The points you have earned so far</th>
			</tr>
		</thead>
		<tbody>
            {% for round in rounds reversed %}
                <tr>
                    <td>{{round.round_number}}</td>
                    <td>{{round.pe}}</td>
                    <td>{{round.group.real_price}}</td>
                    <td>{{round.period_points}}</td>
                    <td>{{round.total_points}}</td>
                </tr>
            {% endfor %}
		</tbody>
  	
	</table>
</div>

<script src="//code.highcharts.com/5.0.6/highcharts.js"></script>
<script src="//code.highcharts.com/highcharts-3d.js"></script>
<script>
    $(function () {
    $('#container').highcharts({
        title: {
            text: '',
            x: -20 //center
        },
        yAxis: {
            title: {
                text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        legend: {
            layout: 'horizontal',
            verticalAlign: 'top',
            borderWidth: 0
        },
        series: [{
            name: 'Your prediction',
            data: {{ my_estimation }}
        }, {
            name: 'The Real Prize',
            data: {{ real_price }}
        } ]
    });
});

</script>
    {% next_button %}
{% endblock %}




