{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Soluciones a las preguntas de la Fase I.
{% endblock %}

{% block content %}


    <p>
        Tu respuesta <span  class="text-info">{{ player.questionsI1 }}</span> es {% if player.questionsI1_correct %}<span class="text-success">correcta</span>{% else %}<span class="text-danger">incorrecta</span>{% endif %}.
    </p>
    <p>
        Explicación:
    </p>
    <p>
        ¿Qué cantidad de puntos recibes al principio de cada ronda?
        <br><strong>Recibes {{Constants.questionsI1_correct}} al principio de cada ronda.</strong></br>
    </p>

    {% next_button %}

    {% include 'PGG/Instructions.html' %}

{% endblock %}
