{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Soluciones a las preguntas de la Fase II.
{% endblock %}

{% block content %}


    <p>
        Tu respuesta <span  class="text-info">{{ player.questionsII7 }}</span> es {% if player.questionsII7_correct %}<span class="text-success">correcta</span>{% else %}<span class="text-danger">incorrecta</span>{% endif %}.
    </p>
    <p>
        Explicación:
    </p>
    <p>
        Supongamos que tu tipo es B y el tipo de tu compañero es C. Tu eliges X y tu compañero elige Y. ¿Cuántos ECUs consigues al final de esta ronda?
        <br><strong>Consigues 1x4 = 4 ECUs y tu compañero consigue 4x3 = 12 ECUs.</strong></br>
    </p>

    {% next_button %}

    {% include 'APD/Instructions2.html' %}

{% endblock %}
