{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Soluciones a las preguntas de la Fase II.
{% endblock %}

{% block content %}


    <p>
        Tu respuesta <span  class="text-info">{{ player.questionsII8 }}</span> es {% if player.questionsII8_correct %}<span class="text-success">correcta</span>{% else %}<span class="text-danger">incorrecta</span>{% endif %}.
    </p>
    <p>
        Explicación:
    </p>
    <p>
        Supongamos que tu tipo es D y el tipo de tu compañero es A. Tu eliges Y y tu compañero elige X. ¿Cuántos ECUs consigues al final de esta ronda?
        <br><strong>Consigues 4x2 = 8 ECUs y tu compañero consigue 1x5 = 5 ECUs.</strong></br>
    </p>

    {% next_button %}

    {% include 'APD/Instructions2.html' %}

{% endblock %}
