{% extends "global/Instructions.html" %} {% load staticfiles otree_tags %}


{% block instructions %}

<p ALIGN=justify>
<b>Nota importante</b>: Los puntos que consigas en la primera fase no van a ser convertidos a dinero real, solo los ECUs que consigas en la segunda fase serán convertidos a dinero real.
</p>

<p ALIGN=justify>
En esta fase serás asignado a un grupo de {{Constants.players_per_group}} personas incluído tu, y permanecerás en este grupo durante toda la primera fase. Esta fase consistirá en al menos {{min_rounds}} rondas. Habrá otros {{num_groups}} grupos de {{Constants.players_per_group}} personas cada uno en la misma situación que tu.
</p>

<p ALIGN=justify>
Al principio de cada ronda se te proporcionarán {{Constants.endowment}}. Después, tendrás que decidir cuántos de estos puntos quieres invertir en un fondo común. El resto de puntos que no inviertas, te los quedarás para ti mismo. Los puntos que todos los participantes en el mismo grupo hayan invertido en el fondo común serán sumados y después multiplicados por {{Constants.multiplication_factor}}, y este fondo común será posteriormente repartido a partes iguales entre todos los miembros del grupo, incluido tu. Tendrás 30 segundos para tomar cada decisión, pasado este tiempo el programa tomará una decisión por ti de forma aleatoria.
</p>
<p ALIGN=justify>
Al final de esta fase se te asignará un "tipo" de acuerdo al numero de puntos que
{% if group.treatment == 'group' %}tu y tu grupo hayáis conseguido.
{% else %}hayas conseguido.
{% endif %}


Estos tipos (A, B, C, D) serán asignados de la siguiente forma:

</p>
<!-- <img src="{% static "PGG/group.png" %}"/> 
-->

<p ALIGN=justify>
{% if group.treatment == 'group' %} 

Como se muestra en la figura, <b>los participantes serán ordenados de acuerdo a los puntos que haya conseguido su grupo y también de acuerdo a las ganancias individuales de cada participante</b>. Las ganancias del grupo son la suma de las ganancias individuales de las personas que componen el grupo. El primer grupo (que aparece con fondo blanco en la figura) es el grupo que haya obtenido las mayores ganancias, y el último grupo (sombreado en el gris más oscuro) es el grupo que haya obtenido las menores ganancias. En la figura, el participante que haya obtenido mayores ganacias dentro de cada grupo está representado por un "1" y el que haya obtenido las menores ganancias dentro de cada grupo está representado por un "4".
</p>

<p ALIGN=justify>
Los tipos se asignan de la siguiente forma: los participantes del grupo que haya obtenido mayores ganancias y los dos participantes con más ganancias del segundo grupo serán del tipo A.
Los dos participantes con menos ganancias del segundo grupo y todos los participantes del tercer grupo serán del tipo B. Los participantes del cuarto grupo y los dos participantes con más ganancias del quinto grupo serán del tipo C. Y por último, los dos participantes con menos ganancias del grupo quinto y todos los participantes del grupo que ha obtenido menos ganancias serán del tipo D.

<center> <img src={% static "PGG/group_esp.png" %} height="30%" width="30%"/> </center>


{% else %} 

Como se muestra en la figura, <b>los participantes serán ordenados de acuerdo a los puntos que hayan conseguido</b>. El participante que haya conseguido más puntos está representado en la figura por un "1" y el que ha conseguido menos puntos está representado por un "24".
Los tipos se asignan de la siguiente forma: los 6 participantes con las mayores puntuaciones serán del tipo A, los 6 siguientes del tipo B, los 6 siguientes del tipo C, y los 6 últimos del tipo D.

<center> <img src={% static "PGG/individual_esp.png" %} height="30%" width="30%"/> </center>

{% endif %}
</p>


<p>
Para tu comodidad, una versión resumida de las instrucciones permanecerá disponible durante toda la Fase I.
</p>
{% endblock %}
