{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Preguntas de la Fase I.
{% endblock %}

{% block content %}
<p>
Supongamos que contribuyes 10 puntos al fondo común, y la suma de las contribuciones al fondo común de todos los participantes es 30.
</p>

    {% formfield player.questionsI3 with label="¿Cuántos puntos ganas al final de esta ronda?"%}


<p>
</p>
{% next_button %}

{% include 'PGG/Instructions.html' %}



{% endblock %}
