{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Decision Page
{% endblock %}

{% block styles %}
	<style type="text/css">
	   .page-header {
	   		padding-top: 0px;
	   }


		#sigma-container {
			height:480px;
			width:900px;
		}

		.links line {
		  stroke: #999;
		  stroke-opacity: 0.6;
		}

		.nodes circle {
		  stroke: #fff;
		  stroke-width: 1.5px;
		}
	
    </style>
{% endblock %}
{% block scripts %}
	<script src="{% static "sigma.min.js" %} "></script>

	<script type="text/javascript">
		$('.page-header').css('padding-top','0px')
		data = {{data | safe}}
		for (i=0; i < data.nodes.length; i++) {
			if (data.nodes[i]['id'] === '{{id_in_group}}'){
				data.nodes[i]['color'] = '{{player_color}}';
				data.nodes[i]['label'] += "YOU";

			}
		}

		s = new sigma({ 
        graph: data,
        container: 'sigma-container',
        renderer: {
        	type: 'canvas',
        	container: document.getElementById('sigma-container')
        },
        settings: {
            defaultNodeColor: '#ec5148',
            zoomingRatio:  '1',
            minEdgeSize: 1,
            maxEdgeSize: 3,
            minNodeSize: 15,
            maxNodeSize: 15,
            doubleClickEnabled: false,
            mouseEnabled: false,
        }
        });
	    
	</script>
{% endblock %}

{% block content %}
	<div class="col-xs-12">
		<div id="sigma-container"  width="960px" height="600px">
			
		</div>
	</div>
	{% if role != "source"  and role != "destination" %}
		{% formfield player.overrun with label="What's your price?" %}
		{% next_button %}
	{% else %}
		<h4> You are the {{role}} so you don't play this round 
	{% endif %}	
    
{% endblock %}
