{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block title %}
    {% trans "INSTRUCTIONS" %}
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
		if ("{{role}}" != "intermediary") {
        	$('form').submit()
        }
	</script>
{% endblock %}
{% block content %}
<p align="justify">
	{% trans "thanks" %}
</p>	
<p align="justify">
	{% trans "earnings" %}
</p>	
<p align="justify">
	{% trans "quiet" %}
</p>
<p align="justify">
	{% trans "participate" %}
</p>
<p align="justify">
	{% trans "participation" %}
</p>
<p align="justify">
	{% trans "access" %}
	
</p>
<p align="justify">
	{% trans "phase" %}
	
</p>
<p align="justify">
	{% trans "screen" %}
</p>	
<p align="justify">
	<div class="col-xs-12">
		{% if treatment == 'regular' %}
			{% trans 'regular_1' as img_static %}
				<img class="img-responsive center-block" style="max-height:600px" src="{% static '' %}/{{img_static}}" />
			
		{% elif treatment == 'sw' %}
			{% trans 'sw_1' as img_static %}
				<img class="img-responsive center-block" style="max-height:600px" src="{% static '' %}/{{img_static}}"/>
			
		{% else %}
			{% trans 'random_1' as img_static %}
				<img class="img-responsive center-block" style="max-height:600px" src="{% static '' %}/{{img_static}}"/>
			
		{% endif %}
	</div>
</p>
<p align="justify">
	{% trans "sum" %}
</p>



<p align="justify">
	{% trans "payoff" %}
</p>
<p align="justify">
	{% trans "distribute" %}
</p>
<p align="justify">
	{% trans "second" %}
</p>
<p align="justify">
	{% trans "screen_2" %}
</p>
<p align="justify">
	<div class="col-xs-12">
		{% if treatment == 'regular' %}
			{% trans 'regular_2' as img_static %}
				<img class="img-responsive center-block" style="max-height:600px" src="{% static '' %}/{{img_static}}"/>
			
		{% elif treatment == 'sw' %}
			{% trans 'sw_2' as img_static %}
				<img class="img-responsive center-block" style="max-height:600px" src="{% static '' %}/{{img_static}}"/>
			
		{% else %}
			{% trans 'random_2' as img_static %}
				<img class="img-responsive center-block" style="max-height:600px" src="{% static '' %}/{{img_static}}"/>
			
		{% endif %}

	</div>
</p>

<p align="justify">
	{% trans "click" %}
</p>

{% next_button %}

{% endblock %}
