{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	QUESTIONS
{% endblock %}

{% block styles %}
<link href="{% static "jquery-ui/jquery-ui.min.css" %}" rel="stylesheet">
<style type="text/css">
    .top-buffer {
    	margin-top:10px;
    }
    .col-xs-12 {
    	padding-left: 0px;
    	padding-right:0px;
    }


</style>
{% endblock %}

{% block scripts %}
<script src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
<script>
jQuery(document).ready(function ($) {
    var neighbors_input = $('#id_question_neighbors_connected');
    var centrality_input = $('#id_question_centrality');
    $('.neighbors-slider').slider({
        min: 1,
        max: 12,
        slide: function (event, ui) {
            neighbors_input.val(ui.value);
            updateSliderValue($('.neighbors-value'),neighbors_input.val());
        },
    });
    $('.centrality-slider').slider({
        min: 1,
        max: 12,
        slide: function (event, ui) {
            centrality_input.val(ui.value);
            updateSliderValue($('.centrality-value'),centrality_input.val());
        },
    });
    function updateSliderValue(element, val) {
    	console.log(val)
        element.text(val);
        
    }
    
    updateSliderValue($('.neighbors-value'),1);
    updateSliderValue($('.centrality-value'),1);
});
</script>
{% endblock %}

{% block content %}

<input type="hidden" name="question_neighbors_connected" id="id_question_neighbors_connected" value="0">
<input type="hidden" name="question_centrality" id="id_question_centrality" value="0">
	
<div class="col-xs-12">
<p>THE ROUNDS OF THE EXPERIMENT HAVE FINISHED.
PLEASE KEEP QUIET.
THE EXPERIMENT HAS NOT FINISHED.
YOU MUST ANSWER THE FOLLOWING QUESTIONNAIRE:</p>
</div>

<div class="col-xs-12">
<p>Two players are directly connected if there is a link between them.
In the second phase, how many players do you think you were directly
connected to?</p>
</div>


<div class="col-xs-12 top-buffer">
	<div class="col-xs-offset-4 col-xs-4 top-buffer neighbors-slider"></div>
	<div class="question col-xs-offset-4 col-xs-8 ">Your neighbors estimation: <strong><span class="neighbors-value"></span> neighbors</strong></div>	

</div>



<div class="col-xs-12 top-buffer">
	<p>In the second phase, regarding your location in the network, could you
	quantify your role according to a scale from 1 to 12?
	1 corresponds to a non-central node, that is, a node with a low
	probability of being part of the most direct route between most pairs
	of nodes.</p>
	<p>12 corresponds to a central node, that is, a node with a high
	probability of being part of the most direct route  between most pairs
	of nodes.</p>
</div>
<div class="col-xs-12 top-buffer">
	<div class="centrality-slider col-xs-4 col-xs-offset-4"></div>
	<div class="question col-xs-offset-4 col-xs-8 ">Your centrality estimation: <strong><span class="centrality-value"></span> centrality</strong></div>
</div>


<div class="col-xs-12 top-buffer">
		{% next_button %}
	
</div>

{% endblock %}
