{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block title %}
	{% trans "payment_info" %}
{% endblock %}

{% block content %}

<h4>{% trans "money_thanks" %}</h4>

<h4> {% trans "money_won" %} {{participant.money_to_pay}} </h4>

{% next_button %}

{% endblock %}
